*{
    margin: 0px;
    padding:0px;
    }

.repoContainer{
    display: flex;
    margin-bottom: 3rem;
}
.ownerAvatar{
    max-width: 150px;
    
}

.repoStarsAndIssues{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    padding-left:  1rem;
}

.repoDetails{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;  
    align-items: center;
    
}

.count{
    padding: 4px;
    border: 3px solid black;
}